.Home {
  display: flexbox;
  justify-content: center;
  margin-top: 5%;
}

.Home-room {
  width: 100%;
  line-height: 3;
  height: 10%;
  color: white;
  background-color: #4444442c;
  border: 10px solid #111111;
  border-radius: 40px;
}

.Home-room:hover {
  color: #000;
  background-color: #eeeeee3a;
  text-decoration: none;
}


.Home-Box-parent {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-Box{
	position:relative;
  display:flex;
}
.Home-Box span{
	width:10px;
	height:10px;
	border-radius:50%;
  margin:20px;
	animation:Loading 1.6s ease-in-out infinite;
	transform-style:preserve-3d;
	transform-origin:center;
}
.Home-Box span:first-of-type{
	background-color:#eb3b5a;
	animation-delay:0s;
	box-shadow:0px 0px 10px #eb3b5a;
}
.Home-Box span:nth-of-type(2){
	background-color:#2d98da;
	animation-delay:.2s;
	box-shadow:0px 0px 10px #2d98da;
}
.Home-Box span:nth-of-type(3){
	background-color:#f7b731;
	animation-delay:.4s;
	box-shadow:0px 0px 10px #f7b731;
}
.Home-Box span:nth-of-type(4){
	background-color:#218c74;
	animation-delay:.6s;
	box-shadow:0px 0px 10px #218c74;
}
.Home-Box span:nth-of-type(5){
	background-color:#474787;
	animation-delay:.8s;
	box-shadow:0px 0px 10px #474787;
}
.Home-Box span:last-of-type{
	background-color:#fa8231;
	animation-delay:1s;
	box-shadow:0px 0px 10px #fa8231;
}

@keyframes Loading{
	
	0%, 40%, 100%{
		transform:scale(1);	
	}
	20%{
		transform:scale(5);	
	}

}